@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { font-family: ui-monospace, SFMono-Regular, Menlo, monospace; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #000; }
::-webkit-scrollbar-track { background: #fff; }
